doctype html
html
    head
        title Hello Template!
    body
        #square
        h1 Hello Template!
        h3 Go to <code>src/main.ts</code> and remove the import of <code>demo.scss</code> to remove the square animation.
        h3 Use the script <code>npm run dev</code> to enable the dev server
        h3 Use the script <code>npm run build</code> to build your project into an html site
        h3 Use the script <code>npm run serve</code> to serve your site live
        h3 <i class='fa fa-check'></i> Fontawesome is also installed. To disable it remove its import from <code>src/main.ts</code>
        